body {
    margin: 0;
    padding: 0;
    background-color: #08B;

}

/* INICIO DO ARTICLE */

/* container do article */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 35em; */
}

/* section */
.calculator {
    display: block;
    border: 2px solid rgb(27, 107, 136);
    padding: 20px;
    border-radius: 15px;
    background-color: #08B;
    color: white;
}

/* continer significadoimc */
.significado-imc {
    width: 500px;
    margin-right: 200px;
}

/* h1 e p  do imc */
.imc {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20pt;
    border-bottom: 2px solid black;
    width: 160px;
}

/* P */
.imc-sig {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;

}

/* SPAN do significado do imc */
.significado-imc span {
    font-weight: bold;
}

/* label */
.text-first {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

/* LABEL MENOR ex: 1,65 */
.text-first>.text-segund {
    font-size: 10pt;
}

/* imput */
.input-first {
    display: block;
    margin: 5px 0 5px 0;
    height: 20px;
    border: 2px solid #08B;
    border-radius: 10px;
    padding-left: 5px;


}

/* botao */
.btn {
    border-radius: 15px;
    border: 2px solid rgb(24, 94, 119);
    margin-top: 10px;
    background-color: #08B;
    padding: 10px;
    font-size: 12pt;
    color: white;
}

.seuimc {
    visibility: hidden;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: indianred;
    padding: 5px;
    margin-top: 15px;
    border-radius: 10px;

}

/* FIM DO ARTICLE */


/* TABELA */
table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */

}

td {
    padding: 15px 200px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgba(24, 94, 119, .8);
    border-collapse: collapse;
    font-weight: bold;
}

/* tituloda tabela */
.th-primaty {
    background-color: teal;
    padding: 10px 50px 10px 50px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

/* para deixar o grau de obesidade no centro */
.grau-center {
    text-align: center;
    font-weight: bold;
}

/* NIVEL DE PERIGO */
.magreza {
    color: rgba(248, 2, 2, .5);
}

.normal {
    color: rgb(20, 190, 20);
}

.sobrepeso {
    color: rgba(248, 2, 2, .4);
}

.obesidade2 {
    color: rgba(248, 2, 2, .5);
}

.obesidade3 {
    color: rgba(248, 2, 2, .8);
}